.color{
    background-color:rgb(246,245,248);
    
}
.padding{
    padding: 50px;
}
.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}
.height {
    height: 210px;
}
.border{
    border: none !important;
}